.navigation-button{
    height: 40px;
    width: 100%;
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    padding: 0 20% 0 20%;
    border-radius: 10px;
    text-decoration: none;

    &:hover{
        background-color: var(--white-ghost);
    }
}


.title{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 20;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icon{
    width: 20px;
}