<<<<<<< HEAD:src/components/navigation_bar/button/NavigationButton.css
.nav-button {
=======
.navigation-button {
>>>>>>> 606e256786c2b972322a2e5162f407cb8b3c6e58:src/components/software_app/navigation_bar/button/NavigationButton.css
    height: 40px;
    width: 100%;
    background-color: transparent;
    padding: 0;

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
    align-items: center;

    gap: 10px;
    border-radius: 10px;
    text-decoration: none;
<<<<<<< HEAD:src/components/navigation_bar/button/NavigationButton.css
}


.nav-button-title {
=======
    
    color: white;
}

.inactive:hover {
    background-color: var(--white-ghost);
}

.active {
    background-color: rgba(255, 255, 255, 0.287);
}


.title {
>>>>>>> 606e256786c2b972322a2e5162f407cb8b3c6e58:src/components/software_app/navigation_bar/button/NavigationButton.css
    margin: 0;
    padding: 0;
    font-size: 20;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
}

<<<<<<< HEAD:src/components/navigation_bar/button/NavigationButton.css
.nav-button-active:hover {
    background-color: var(--white-ghost);
}

.nav-button-silent {
    opacity: 0.5;
}

.nav-button-silent img {
    opacity: 0.5;
}

.nav-button-icon {
=======
.icon {
>>>>>>> 606e256786c2b972322a2e5162f407cb8b3c6e58:src/components/software_app/navigation_bar/button/NavigationButton.css
    width: 20px;
    justify-self: right;
}