.navigation-button {
    height: 40px;
    width: 100%;
    background-color: transparent;
    padding: 0;

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
    align-items: center;

    gap: 10px;
    border-radius: 10px;
    text-decoration: none;
    
    color: white;
}

.inactive:hover {
    background-color: var(--white-ghost);
}

.active {
    background-color: rgba(255, 255, 255, 0.287);
}


.title {
    margin: 0;
    padding: 0;
    font-size: 20;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icon {
    width: 20px;
    justify-self: right;
}