.modalform {
    width: 800px;
    padding: 25px;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalform-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}

.modalform-header h1{
    font-size: 30px;
}

.modalform-header p{
    font-size: 15px;
    margin:0;
    color: gray;
}

.modalform-header h3{
    color: red;
    font-size: 20px;
}

input, textarea {
    width: 100%;
    border-radius: 6px;
    border: 1px solid rgb(174, 174, 174);
    padding: 5px;
    margin: 0;
}

label {
    margin: 0;
}
