.case-item{
    display: grid;
    grid-template-columns: 40% 20% 25% 15%;
    background-color: white;
    width: 100%;
    border: 2px solid rgb(233, 233, 233);
    border-radius: 10px;
    padding: 10px;
}

.case-item p{
    margin: 0;
}

.case-title{
    font-size: 17px;
}

.case-status-open{
    border: 1px solid rgb(144, 144, 144);
    border-radius: 10px;
    width:fit-content;
    padding: 0 10px 0 10px;
}

.case-status-closed{
    border: 1px solid rgb(144, 144, 144);
    border-radius: 10px;
    width:fit-content;
    padding: 0 10px 0 10px;
    background-color: rgb(98, 82, 219));
}