#calendar-container {
    background-color: "blue";
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
}

.calendar-column {
   
}

.day-card {
    max-width: 130px;
    min-width: 130px;
}

.day-card-tasks {
    height: 150px;
}