:root {
  --primary-color: rgb(14, 0, 65);
  --white-ghost: rgba(255, 255, 255, 0.168);
  --secondary-color: #ffffff;
  --positive-color: #34e25d;
  --dark-ghost: rgba(14, 0, 65, 0.168);
}

.horizontal-line-secondary{
  margin: auto;
  width: 90%;
  border-bottom: 1px solid var(--secondary-color);
}

.horizontal-line-primary{
  margin: 0px;
  width: 90%;
  border-bottom: 1px solid var(--primary-color);
}

.no-margin{
  margin: 0;
}