:root {
  --primary-color: rgb(14, 0, 65);
  --white-ghost: rgba(255, 255, 255, 0.168);
  --secondary-color: #ffffff;
  --accent-color: #28a745;
}

#app{
  background-color: var(--primary-color);
  height: 100vh;
  font-family: "mying";
}

#app-content{
  background-color: var(--secondary-color);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow-y: auto;
  padding: 10px;
}

.app-col{
  padding: 0px;
  margin: 0px;
}
