body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, h1{
  font-family: "mying";
}

@font-face {
  font-family: "mying";
  src: url("https://db.onlinewebfonts.com/t/cd156407d567737d19dfca282011b360.eot");
  src: url("https://db.onlinewebfonts.com/t/cd156407d567737d19dfca282011b360.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/cd156407d567737d19dfca282011b360.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/cd156407d567737d19dfca282011b360.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/cd156407d567737d19dfca282011b360.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/cd156407d567737d19dfca282011b360.svg#M Ying Hei PRC W48 W3")format("svg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}